  #map {
    border: 2px solid rgb(255, 255, 255);
    width: 300px;
    weight: 150px;
    text-align: center;
    align-items: center;
    background-size: 100%;
    padding-bottom: 32px;
   //background-repeat: no-repeat;
  }

  #legend {
   // border: 2px solid blue;
    width: 80px;
    weight: 10px;
    text-align: right;
    align-items: right;
    background-size: 100%;
    padding-bottom: 200px;
    background-repeat: no-repeat;
  }

  ion-range::part(tick) {
    background: #000000;
  }

  ion-range::part(tick-active) {
    background:  #000000;
  }

  ion-range::part(pin) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    background: #0b5722;
    color: #fff;
  
    border-radius: 50%;
    transform: scale(1.01);
  
    top: -20px;
  
    min-width: 28px;
    height: 28px;
    transition: transform 120ms ease, background 120ms ease;
  }
  
  ion-range::part(knob) {
    background: #0b5722;
  }
  
  ion-range::part(bar) {
    background: #000000;
  }

  ion-range::part(bar-active) {
    background: #000000;
  }

  ion-icon {
    font-size: 60px; //Preferred size here
  }

  #arrow {
    width:10%;
  //  border: 1px solid;
    align-items: center;
    text-align: center;
  }
  
  #range {
    width: 100%; 
    weigth: 20%;
    align-items: center;
    text-align: center;
    margin-top: 60px;
   // border: 1px solid;
  }
 
  .pin {
    font-size: 22px;
  }

  #table_pins{
    width: 270px; 
    margin-left: 5px; 
    margin-top: 2px; 
    weight: 400px; 
    margin-top: 8px;
    //border: 1px solid blue;"
    td {
     height: 13px; 
     width: 13px;
    }
  }