#container {
  text-align: justify;
  margin: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 70%;
  transform: translateY(-50%);
  font-size: 23px;
  line-height: 26px;
  color:rgb(255, 255, 255);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#buttonStart {
  text-align: center;
  align-items: center;
  margin-top: 20%;
}

#tittle {
  text-align: center;
  align-items: center;
  margin-top: 2%;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

ion-content {
  --background: url('../../assets/fundo.jpg') no-repeat center center / cover;
  //--background: var(--ion-color-tertiary)
}

#logo{
  text-align:center;
  margin-top: 80px;
  align-items: center;
}